* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 400px;
  margin: 16px;
  padding: 10px;
  background: #363b43;
  border-radius: 10px;
}
.App .physics-values h3 {
  color: #282c34;
}
.App .physics-form input {
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 12px;
  outline: none;
  margin: 15px 0px 0px 0px;
  background: #282c34;
  color: rgb(159, 159, 159);
}
.App .physics-form button {
  border: none;
  border-radius: 7px;
  padding: 10px;
  color: #fff;
  background: #D3366EFF;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
  width: 40%;
  font-size: 15px;
}
.App .physics-value {
  color: #757982;
  font-weight: 900;
}
.App .physics-value {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.App .physics-answer {
  width: 100%;
  background: #282c34;
  margin: 20px 0px 0px 0px;
  border-radius: 7px;
}
.App .physics-answer .answer {
  padding: 2px 10px 2px 10px;
  margin: 5px;
}
.App .physics-answer .answer p {
  color: #757982;
  font-weight: 900;
}
.App .physics-form .error {
  color: rgb(201, 37, 37);
}
.App .physics-value button {
  background: rgb(185, 22, 22);
  border: none;
  border-radius: 7px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.App .physics-value .value {
  display: flex;
  align-items: center;
  gap: 11px;
}
.line {
  height: 2px;
  width: 100%;
  background: #D3366EFF;
}